# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env

# IDE/Editor files
.vscode/
.idea/

# OS files
.DS_Store

# Logs and temp files
*.log
tmp/
cache/

# Go и Docker
*.out
bin/
vendor/
*.swp

# Docker
docker-compose.override.yml

# Игнорировать кэшированные зависимости Go
/pkg/mod/

# DB volume local data
/_docker/hotels-db-data

# Ignore certs for CockroachDB connection, but include README files
/secure/certs-cloud/*
!/secure/certs-cloud/README.md

/secure/certs/*
!/secure/certs/README.md

/db/certs/*
!/db/certs/README.md